#NOTE: Using TF_VAR prefix for all variables, regardless if they are used within Terraform projects
#This is just to prevent having multiple environment
export TF_VAR_SOURCE_REGION=<AWS Region Name>                   # Org identifier used by Terraform and CLI
export TF_VAR_SOURCE_ORG=<Archy Location>                       # Org identifier used by Archy
export TF_VAR_SOURCE_CLIENTID=<Source OAuth Client ID>          # OAuth Client ID for Source Org
export TF_VAR_SOURCE_CLIENTSECRET=<Source OAuth Client Secret>  # OAuth Client Secret for Source Org
export TF_VAR_SOURCE_DIVISION=<Division Name>                   # Source Division name
export TF_VAR_DEST_REGION=<AWS Region Name>                     # Org identifier used by Terraform and CLI
export TF_VAR_DEST_ORG=<Archy Location>                         # Org identifier used by Archy
export TF_VAR_DEST_CLIENTID=<Dest OAuth Client ID>              # OAuth Client ID for Dest Org
export TF_VAR_DEST_CLIENTSECRET=<Dest OAuth Client Secret>      # OAuth Client Secret for Dest Org
export TF_VAR_DEST_DIVISION=<Dest Division Name>                # Destination Division name


# AWS region                    AWS region name     Region in Genesys Cloud login       Archy Location        
# US East (N. Virginia)         us-east-1           Americas (US East)                  mypurecloud.com       
# US East 2 (Ohio)*             us-east-2           FedRAMP                             use2.us-gov-pure.cloud
# US West (Oregon)              us-west-2           Americas (US West)                  usw2.pure.cloud       
# Canada (Central)              ca-central-1        Americas (Canada)                   cac1.pure.cloud       
# South America (São Paulo)     sa-east-1           Americas (São Paulo)                sae1.pure.cloud       
# Europe (Frankfurt)            eu-central-1        EMEA (Frankfurt)                    mypurecloud.de        
# Europe (Ireland)              eu-west-1           EMEA (Dublin)                       mypurecloud.ie        
# Europe (London)               eu-west-2           EMEA (London)                       euw2.pure.cloud       
# Europe (Zurich)               eu-central-2        EMEA (Zurich)                       euc2.pure.cloud       
# Middle East  (UAE)            me-central-1        EMEA (UAE)                          mec1.pure.cloud       
# Asia Pacific (Mumbai)         ap-south-1          Asia Pacific (Mumbai)               aps1.pure.cloud       
# Asia Pacific (Seoul)          ap-northeast-2      Asia Pacific (Seoul)                apne2.pure.cloud      
# Asia Pacific (Sydney)         ap-southeast-2      Asia Pacific (Sydney)               mypurecloud.com.au    
# Asia Pacific (Tokyo)          ap-northeast-1      Asia Pacific (Tokyo)                mypurecloud.jp        
# Asia Pacific (Osaka)          ap-northeast-3      Asia Pacific (Osaka)                apne3.pure.cloud      